In [10]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# French museums visitors

In [19]:
#import file about the french museums visitors

visitors=pd.read_csv('frequentation-des-musees-de-france.csv', sep=';')
visitors.head()

,REF DU MUSEE,NOM DU MUSEE,Année,REGION,VILLE,DATE APPELLATION,PAYANT,GRATUIT,TOTAL,Note,ID MUSEOFILE,NOMDEP,Observations
0,8109903,Musée de l'Abbaye Saint-Michel,2009,MIDI-PYRENEES,GAILLAC,01/02/2003,2613.0,669.0,3282.0,NaN,NaN,TARN,NaN
1,8114501,Musée Raymond Lafage,2009,MIDI-PYRENEES,LISLE-SUR-TARN,01/02/2003,1898.0,4429.0,6327.0,NaN,NaN,TARN,NaN
2,5904301,Musée Benoît de Puydt,2009,NORD-PAS-DE-CALAIS,BAILLEUL,01/02/2003,6590.0,0.0,6590.0,NaN,NaN,NORD,NaN
3,5912202,Musée Diocésain d'Art Sacré,2009,NORD-PAS-DE-CALAIS,CAMBRAI,01/02/2003,NaN,NaN,NaN,F,NaN,NORD,NaN
4,5918303,Musée Portuaire,2009,NORD-PAS-DE-CALAIS,DUNKERQUE,01/02/2003,24543.0,21642.0,46185.0,NaN,NaN,NORD,NaN

## Investigating data

In [22]:
#check the data types

visitors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23586 entries, 0 to 23585
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF DU MUSEE      23586 non-null  object
 1   NOM DU MUSEE      23586 non-null  object
 2   Année             23586 non-null  int64
 3   REGION            23586 non-null  object
 4   VILLE             23586 non-null  object
 5   DATE APPELLATION  21578 non-null  object
 6   PAYANT            20235 non-null  float64
 7   GRATUIT           20219 non-null  float64
 8   TOTAL             20218 non-null  float64
 9   Note              3109 non-null   object
 10  ID MUSEOFILE      2273 non-null   object
 11  NOMDEP            23586 non-null  object
 12  Observations      651 non-null    object
dtypes: float64(3), int64(1), object(9)
memory usage: 2.3+ MB

We can change the data types of PAYANT, GRATUIT, TOTAL since those are floats and can be converted into integers since they are related to the number of visitors in each museum.

In [ ]:
#change the data types from float to integers

#TO DO

In [23]:
visitors.describe()

              Année        PAYANT       GRATUIT         TOTAL
count  23586.000000  2.023500e+04  2.021900e+04  2.021800e+04
mean    2010.563809  3.224182e+04  2.115216e+04  5.342213e+04
std        5.674973  2.453239e+05  1.168334e+05  3.514434e+05
min     2001.000000  0.000000e+00  0.000000e+00  0.000000e+00
25%     2006.000000  8.680000e+02  1.150500e+03  4.119000e+03
50%     2011.000000  3.993000e+03  4.414000e+03  1.106100e+04
75%     2015.000000  1.422450e+04  1.371150e+04  2.981000e+04
max     2020.000000  6.676633e+06  4.117897e+06  1.010596e+07

In [25]:
visitors.isna().sum()

REF DU MUSEE            0
NOM DU MUSEE            0
Année                   0
REGION                  0
VILLE                   0
DATE APPELLATION     2008
PAYANT               3351
GRATUIT              3367
TOTAL                3368
Note                20477
ID MUSEOFILE        21313
NOMDEP                  0
Observations        22935
dtype: int64

There is a lot of missing values regarding the DATE APPELLATION, PAYANT, GRATUIT, TOTAL, Note, ID MUSEOFILE, Observations

In [27]:
visitors.loc[visitors['VILLE'] == 'PARIS']

,REF DU MUSEE,NOM DU MUSEE,Année,REGION,VILLE,DATE APPELLATION,PAYANT,GRATUIT,TOTAL,Note,ID MUSEOFILE,NOMDEP,Observations
188,7511609,Musée de l'Homme (Muséum National d'Histoire N...,2010,ILE-DE-FRANCE,PARIS,06/01/2002,NaN,NaN,NaN,F,NaN,PARIS,NaN
189,7510705,Etablissement public du musée d'Orsay et de l'...,2010,ILE-DE-FRANCE,PARIS,06/01/2002,1637995.0,1347515.0,2985510.0,NaN,NaN,PARIS,NaN
190,7510902,Musée de la Franc-Maçonnerie,2010,ILE-DE-FRANCE,PARIS,01/02/2003,12451.0,3307.0,15758.0,NaN,NaN,PARIS,NaN
191,7511801,Musée de Montmartre,2010,ILE-DE-FRANCE,PARIS,01/02/2003,34928.0,2928.0,37856.0,NaN,NaN,PARIS,NaN
192,7510608,Musée Zadkine,2010,ILE-DE-FRANCE,PARIS,08/07/2004,15712.0,10984.0,26696.0,NaN,NaN,PARIS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23471,7511202,Établissement Public de la Porte Dorée - (MNHI...,2020,ILE-DE-France,PARIS,16/11/2006,108642.0,111070.0,219712.0,NaN,M5084,PARIS,NaN
23472,7511502,Musée Bourdelle,2020,ILE-DE-France,PARIS,08/07/2004,15977.0,34827.0,50804.0,NaN,M1103,PARIS,NaN
23473,7511606,Musée des Monuments Français - CAPA,2020,ILE-DE-France,PARIS,09/07/2004,51963.0,65900.0,117863.0,NaN,M5042,PARIS,NaN
23474,7511603,Etablissement Public du Musée des Arts Asiatiq...,2020,ILE-DE-France,PARIS,06/01/2002,45578.0,50758.0,96336.0,NaN,M5005,PARIS,NaN
23475,7510609,Musée du 11 Conti - Monnaie de Paris,2020,ILE-DE-France,PARIS,06/01/2002,26100.0,18900.0,45000.0,NaN,M5066,PARIS,NaN

# French museums infos

In [33]:
#import file about the french museums infos

museums=pd.read_csv('liste_des_musees_franciliens.csv', sep=';')
museums.head()

,Région administrative,Département,Identifiant Muséofile,Commune,Nom officiel du musée,Adresse,Lieu,Code Postal,Téléphone,URL,Latitude,Longitude,REF_Deps,geolocalisation,Date arrêté attribution appellation
0,Île-de-France,Hauts-de-Seine,M0411,Issy-les-Moulineaux,musée français de la carte à jouer et galerie ...,"16, rue Auguste Gervais",NaN,92130,01 41 23 83 60,www.museecarteajouer.com/,48.822771,2.273453,9204001.0,"48.822771, 2.273453",01/02/2003
1,Île-de-France,Hauts-de-Seine,M0413,Neuilly-sur-Seine,musée des automates,12 rue du centre,NaN,92200,01 47 45 29 40,www.neuillysurseine.fr/details-d-un-acteur?id=240,48.879608,2.252754,9205101.0,"48.879608, 2.252754",01/02/2003
2,Île-de-France,Hauts-de-Seine,M5019,Sèvres,musée national de la céramique,Place de la Manufacture,NaN,92310,01 46 29 38 01,NaN,48.817037,2.205733,9207201.0,"48.817037, 2.205733",06/01/2002
3,Île-de-France,Paris,M1114,Paris,maison de Victor Hugo,6 place des Vosges,Hôtel de Rohan-Guéménée,75004,01 42 72 10 16,www.maisonsvictorhugo.paris.fr/,48.854808,2.366232,7510405.0,"48.854808, 2.366232",08/07/2004
4,Île-de-France,Paris,M1104,Paris,musée Carnavalet - histoire de Paris,"23, rue de Sévigné",Hôtel Carnavalet,75003,01 44 59 58 58,www.carnavalet.paris.fr/,48.856990,2.362856,7510307.0,"48.85699, 2.362856",08/07/2004

In [34]:
#check the data types

museums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Région administrative                133 non-null    object
 1   Département                          133 non-null    object
 2   Identifiant Muséofile                133 non-null    object
 3   Commune                              133 non-null    object
 4   Nom officiel du musée                133 non-null    object
 5   Adresse                              125 non-null    object
 6   Lieu                                 63 non-null     object
 7   Code Postal                          133 non-null    int64
 8   Téléphone                            126 non-null    object
 9   URL                                  126 non-null    object
 10  Latitude                             133 non-null    float64
 11  Longitude                            133 non-null    float64
 12  REF_Deps                             130 non-null    float64
 13  geolocalisation                      133 non-null    object
 14  Date arrêté attribution appellation  133 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 15.7+ KB

In [35]:
museums.describe()

        Code Postal    Latitude   Longitude      REF_Deps
count    133.000000  133.000000  133.000000  1.300000e+02
mean   82029.932331   48.473681    2.697111  8.171023e+06
std     8239.034049    4.023792    4.051750  7.981958e+05
min    75001.000000    2.449719    1.719901  7.510102e+06
25%    75015.000000   48.808966    2.234894  7.510903e+06
50%    77580.000000   48.858133    2.323672  7.733302e+06
75%    92150.000000   48.878849    2.393807  9.202027e+06
max    95500.000000   49.112285   48.986516  9.550002e+06

In [36]:
museums.isna().sum()

Région administrative                   0
Département                             0
Identifiant Muséofile                   0
Commune                                 0
Nom officiel du musée                   0
Adresse                                 8
Lieu                                   70
Code Postal                             0
Téléphone                               7
URL                                     7
Latitude                                0
Longitude                               0
REF_Deps                                3
geolocalisation                         0
Date arrêté attribution appellation     0
dtype: int64

# French exhibitions

In [37]:
#import file about the french museums infos

exhibitions=pd.read_csv('que-faire-a-paris.csv', sep=';')
exhibitions.head()

,ID,URL,Titre,Chapeau,Description,Date de début,Date de fin,Occurrences,Description de la date,URL de l'image,...,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198
0,34155,https://www.paris.fr/evenements/baila-babibou-...,"Baila Babibou : spectacle danse & musique, dès...",Baila Babibou propose un dialogue entre une mé...,<p>La danseuse démarre le spectacle en chrysal...,2023-06-21T13:30:00+02:00,2023-06-21T14:00:00+02:00,2023-06-21T11:30:00+02:00_2023-06-21T12:00:00+...,Le mercredi 21 juin 2023<br />de 10h30 à 11h00...,https://cdn.paris.fr/qfapv4/2023/03/17/huge-06...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34268,https://www.paris.fr/evenements/le-fil-des-noe...,Le fil des nœuds,Exposition collective de La.ima du 10 juin au ...,<p>Qu'y a-t-il au-delà de la peau qui cache la...,2023-06-10T02:00:00+02:00,2023-07-09T01:59:59+02:00,NaN,Du samedi 10 juin 2023 au samedi 08 juillet 20...,https://cdn.paris.fr/qfapv4/2023/03/19/huge-04...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34245,https://www.paris.fr/evenements/parcours-d-int...,Parcours d’intellectuels en exil : un humanism...,Un cycle de 4 conférences dédié aux trajectoir...,<p>L’exil n’a jamais épargné les intellectuels...,2023-03-28T02:00:00+02:00,2023-06-14T01:59:59+02:00,NaN,Du mardi 28 mars 2023 au mardi 13 juin 2023 : ...,https://cdn.paris.fr/qfapv4/2023/03/18/huge-e3...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,33666,https://www.paris.fr/evenements/concert-java-m...,"Concert : Java, musique du pays Sunda",Venez découvrir la musique du pays Sunda de l'...,"<p>Basé à Paris, <strong>Gamelan Degung Sora G...",2023-05-26T22:00:00+02:00,2023-05-27T00:00:00+02:00,2023-05-26T20:00:00+02:00_2023-05-26T22:00:00+...,Le vendredi 26 mai 2023<br />de 19h00 à 21h00<...,https://cdn.paris.fr/qfapv4/2023/03/09/huge-7f...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34251,https://www.paris.fr/evenements/p-tit-dej-litt...,P'tit-Déj' Littéraire,Les bibliothécaires vous lisent leurs derniers...,"<p>Depuis quelques éditions, cette animation e...",2023-06-10T13:30:00+02:00,2023-06-10T15:00:00+02:00,2023-06-10T11:30:00+02:00_2023-06-10T13:00:00+...,Le samedi 10 juin 2023<br />de 10h30 à 12h00<b...,https://cdn.paris.fr/qfapv4/2023/03/04/huge-a3...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#check the data types

exhibitions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2077 entries, 0 to 2076
Columns: 199 entries, ID to Unnamed: 198
dtypes: float64(8), object(191)
memory usage: 3.2+ MB

In [39]:
exhibitions.describe()

,Unnamed: 177,Unnamed: 178,Unnamed: 180,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 197
count,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,188406340.0,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,188406340.0,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,188406340.0,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,188406340.0,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,188406340.0,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,188406340.0,NaN,NaN,NaN,NaN,NaN

In [40]:
exhibitions.isna().sum()

ID                 0
URL                0
Titre              0
Chapeau            5
Description       19
                ...
Unnamed: 194    2077
Unnamed: 195    2076
Unnamed: 196    2076
Unnamed: 197    2077
Unnamed: 198    2076
Length: 199, dtype: int64